@import "mixins";

header {
  padding: 20px 25px 17px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #c7c7c7;
  @include desktop {
    padding: 20px 0 17px 0;
  }
}

.header-content {
  width: 100%;
  max-width: 1181px;
  display: flex;
  justify-content: space-between;
}
