@import "reset";
@import "footer";
@import "header";
@import "shelf";
@import "aside";
@import "header.content";
@import "product";
@import "filter.mobile";
@import "sortby.mobile";

.container {
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  overflow-y: auto;
  &.no-scroll {
    position: fixed;
    overflow-y: hidden;
  }
}
