@import "reset";
@import "footer";
@import "header";
@import "shelf";
@import "aside";
@import "header.content";
@import "product";

.container {
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
}
